<!doctype html>
<html lang="en">
<head>
    <title>Food Order</title>
<body>
<div class="container">
    <h1>Midterm Survey</h1>

    <form action="#" method="post" class="form-horizontal">

        <!-- get food -->
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="name" id="name">
            </div>
            <span class="err">
                 <check if="{{ isset(@errors['name']) }}">
                     {{ @errors['name'] }}
                 </check>
            </span>
        </div>

        <!-- get meal -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Check all that Apply</label><br>

            <div>
                <repeat group="{{ @questions }}" value="{{ @question }}">
                    <label><input type="checkbox"
                                  name="questions[]"
                                  value="{{ @question }}"> {{ ucfirst(@question) }}</label><br>
                </repeat>
                <span class="err">
                 <check if="{{ isset(@errors['questions']) }}">
                     {{ @errors['questions'] }}
                 </check>
            </span>
            </div>
        </div><br>

        <div class="col-xs-3 ">
            <input class="form-control btn btn-default"
                   type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>